//
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #1c1c1c;
}

@import 'partials/_navbar';

@import 'partials/_jumbotron';

@import 'partials/_thumb';

@import 'partials/_shop';

@import 'partials/_footer';
